* {
    margin: 0;
    padding: 0;

            user-select: none;
       -moz-user-select: none;
    -webkit-user-select: none;
    
      -webkit-user-drag: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(19, 19, 19);

    display: flex;
    flex-direction: column;

    height: 100vh;

    overflow: hidden;
}

body > div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.dealer {
    position: relative;
}

.player {
    position: relative;
}

.text {
    position: absolute;
    top: 10px;
    left: 10px;

    text-transform: uppercase;
    color: rgb(40, 40, 40);
    font-size: 50pt;
    font-weight: 800;
    z-index: 20;
}

.points {
    position: absolute;

    left: 10px;

    text-transform: uppercase;
    color: rgba(50, 50, 50, .2);
    font-size: 60vh;
    font-weight: 800;
    z-index: 10;
}

.card {
    position: absolute;

    height: 235px;
    width: 160px;

    border: 1px solid #b8b8b8;
    border-radius: 5%;

    background-color: #111111;

    transition: transform 0.2s linear, left .5s, top .5s;
}

.back {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 5%;

    position: absolute;
    left: 0;
    top: 0;

    overflow: hidden;

    background: url('images/backface.jpg');
    background-size: contain;
}

.front {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    border-radius: 5%;

    background-color: #111111;
}

.buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;

    width: 100%;

    z-index: 30;
}

.button {
    width: 110px;

    background-color: rgb(19, 19, 19);
    text-align: center;

    position: absolute;

    padding: 5px;
    margin: -5px;
    border: 3px solid rgb(40, 40, 40);
    border-radius: 5px;
    
    text-transform: uppercase;
    font-size: 20pt;
    font-weight: 800;
    color: rgb(80, 80, 80);

    cursor: pointer;

    transition: background-color 0.2s, color 0.2s, left 0.5s, top 0.5s;
}

.button:hover {
    background-color: rgb(40, 40, 40);
    color: white;
}

#message-display {
    display: none;

    flex-direction: column;
    gap: 10px;

    position: absolute;
    width: 100%;
    height: 100%;
    
    background-color: rgb(19, 19, 19);
    opacity: 0;
    text-transform: uppercase;

    z-index: 999;

    transition: opacity 1s;
}

#text {
    color: rgb(40, 40, 40);
    font-size: 72pt;
    font-weight: 800;
}

#restart-button {
    opacity: inherit;
    display: inherit;
    
    background-color: rgb(19, 19, 19);
    text-align: center;

    padding: 5px;
    border: 3px solid rgb(40, 40, 40);
    border-radius: 5px;
    
    text-transform: uppercase;
    font-size: 20pt;
    font-weight: 800;
    color: rgb(80, 80, 80);

    cursor: pointer;

    transition: background-color 0.2s, color 0.2s, opacity 0.5s;
}

#restart-button:hover {
    background-color: rgb(40, 40, 40);
    color: white;
}

#money-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#money-container > div {
    position: absolute;
}

#balance-text, #bet-text {
    text-transform: uppercase;
    color: rgb(50, 50, 50, .1);
    font-size: 72pt;
    font-weight: 800;
}

#balance, #bet, #plus, #minus {
    color: rgb(40, 40, 40);
    font-size: 50pt;
    font-weight: 800;
}

#balance-text {
    bottom: 100px;
    right: 10px;
}

#balance {
    bottom: 100px;
    right: 10px;
}

#bet-text {
    bottom: 0px;
    right: 10px;
}

#bet {
    bottom: 0px;
    right: 10px;
}

#bet-buttons {
    position: absolute;
    bottom: 0px;
    right: 250px;

    display: flex;
    flex-direction: column;
    gap: 0px;
}

#bet-buttons > div {
    text-align: center;
    margin-top: -50px;

    cursor: pointer;

    line-height: 50px;
}

#plus {
    margin-bottom: 50px;
}

#minus {
    margin-bottom: 20px;
}